extends ../layouts/default

block head
	script(src='/js/modernizr.js')

block js
	script(src='/js/main.js')

block css
	link(href="/styles/style.css", rel="stylesheet")
	link(href="/styles/reset.css", rel="stylesheet")

block content
	nav#cd-vertical-nav
		ul
			li
				a(href="#section1", data-number="1")
					span(class="cd-dot")
					span(class="cd-label")	Intro
			li
				a(href="#section2", data-number="2")
					span(class="cd-dot")
					span(class="cd-label")	About
			li
				a(href="#section3",data-number="3")
					span(class="cd-dot")
					span(class="cd-label")	Features
			li
				a(href="#section4", data-number="4")
					span(class="cd-dot")
					span(class="cd-label")	Portfolio
			li
				a(href="#section5", data-number="5")
					span(class="cd-dot")
					span(class="cd-label") 	Pricing
			li
				a(href="#section6", data-number="6")
					span(class="cd-dot")
					span(class="cd-label")	Contact

	a(class="cd-nav-trigger, cd-img-replace")
		Open navigation
			span

	section(id="section1", class="cd-section")
		.container
			.row 
				h1 Summary
				hr
			.row
				.col-sm-6
					.img-circle.text-center(style="background-image:url('/images/TKN_9872.JPG');width:300px;height:300px;background-size:cover")
				.col-sm-6(style="font-weight:200; color:wheat;font-size: 1.25rem;")
					h5 My name is Le Duy Khanh, a Full Stack Developer in Singapore
					ul(style="list-style-type:square")
						li I am from Vietnam
						li Graduated Nanyang Technological University  with Second Class Honor
						li Having in hand four years of working experience as software engineer in Singapore
						li Hands-on person who is able to handle different fields,hardware and software, front end and backend
			.row(style="color:white;")
				h2 Technical skills
				span.badge Html + span.badge Html
			.row(style="color:white;")
				h2 Social profiles


	section(id="section2", class="cd-section text-center")



	section(id="section3", class="cd-section")
		p
			&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;

	section(id="section4", class="cd-section")
		p
			&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;

	section(id="section5", class="cd-section")
		p
			&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;

	section(id="section6", class="cd-section")
		p
			i(class="fa fa-envelop") leejangkoo@gmail.com
