extends ../layouts/default

block head
	script(src='/js/modernizr.js')

block js
	script(src='/js/main.js')

block css
	link(href="/styles/style.css", rel="stylesheet")
	link(href="/styles/reset.css", rel="stylesheet")

block content
	nav#cd-vertical-nav
		ul
			li
				a(href="#section1", data-number="1")
					span(class="cd-dot")
					span(class="cd-label")	Summary
			li
				a(href="#section2", data-number="2")
					span(class="cd-dot")
					span(class="cd-label")	Porfolios
			li
				a(href="#section3",data-number="3")
					span(class="cd-dot")
					span(class="cd-label")	Working Experience
			li
				a(href="#section4", data-number="4")
					span(class="cd-dot")
					span(class="cd-label")	Portfolio
			li
				a(href="#section5", data-number="5")
					span(class="cd-dot")
					span(class="cd-label") 	Pricing
			li
				a(href="#section6", data-number="6")
					span(class="cd-dot")
					span(class="cd-label")	Contact


	section(id="section1", class="cd-section")
		.container
			.row 
				h1 Summary
				hr
			.row
				.col-sm-6
					.img-circle.text-center.profile-pic(style="background-image:url('/images/TKN_9872.JPG');width:300px;height:300px;background-size:cover")
				.col-sm-6(style="font-weight:200; color:wheat;font-size: 1.25rem;")
					h5(style="font-weight:250; color:wheat;font-size: 1.5rem;margin-top:20px") My name is <b>Le Duy Khanh</b>, a Full Stack Developer in Singapore
					ul.summary(style="list-style-type:square")
						li I am from Vietnam
						li Graduated Nanyang Technological University  with Second Class Honor
						li Having in hand four years of working experience as software engineer in Singapore
						li Hands-on person who is able to handle different fields,hardware and software, front end and backend
			.row(style="color:white;")
				.col-sm-6
					.skill-title Current Company
					.company
						a(href="http://www.goldenequator.com/")
							img(src="/images/company.png")
				.col-sm-6
					- var skills = [["Html", "Javascript", "Css", "Python", "PHP", "Java", "C#", "C++"],["JQuery", "Bootstrap", "NodeJS", "ReactJS","EmberJS","KeystoneJS"],["Django","Wordpress","Orchard CMS"],["Postgres","MySQL","MongoDB","MSSQL"],["Gulp","Bower","Composer"]]
					.skill-title Technical skills
					ul
						each skill_set in skills
							li 
								each skill in skill_set
									span.badge #{skill}


			.row(style="color:white;")
				.col-sm-6
					.skill-title Social profiles
					.social
						a(href="http://stackoverflow.com/users/1737861/le-duy-khanh",data-toggle="tooltip" title="Stack overflow")
							<i class="fa fa-stack-overflow fa-5" aria-hidden="true"></i>
						a(href="https://github.com/leduykhanh",data-toggle="tooltip" title="Github")
							<i class="fa fa-github fa-5" aria-hidden="true"></i>
						a(href="https://www.linkedin.com/in/le-duy-khanh-62158b44",data-toggle="tooltip" title="Linkedin")
							<i class="fa fa-linkedin fa-5" aria-hidden="true"></i>
				.col-sm-6
					.skill-title Languages
					ul
						li English
						li Vietnamese


	section(id="section2", class="cd-section")
		.container
			.row 
				h1 Porfolios
				hr
			.row
				.col-sm-4
					-var tech_stacks = ["Django", "ReactJS", "Python", "Javascript"]
					.portfolio(style="background-image:url('/images/waach.png');")
						.portfolio-header 
							.name Waach - video platform
						.description
							.url 
								a(href="waach.com") waach.com
							each tech in tech_stacks
								span.badge #{tech}
				.col-sm-4
					-var tech_stacks = ["Django", "ReactJS", "Python", "Javascript"]
					.portfolio(style="background-image:url('/images/goalsmapper.png');")
						.portfolio-header(style="background-color: rgba(100, 204, 33, 0.8); ") 
							.name Goalsmapper - finacial plan
						.description
							each tech in tech_stacks
								span.badge #{tech}
				.col-sm-4
					-var tech_stacks = ["Prestashop", "PHP", "MySQL"]
					.portfolio(style="background-image:url('/images/tutti.png');")
						.portfolio-header(style="background-color: rgba(255, 255, 33, 0.8); ") 
							.name Tutti - online shopping
						.description
							each tech in tech_stacks
								span.badge #{tech}

	section(id="section3", class="cd-section")
		.container
			.row 
				h1 Working Experience
				hr
			.row
				.panel-group
					.panel.panel-default
						.panel-heading
							h4.panel-title
								a(data-toggle="collapse",data-target="#gec") Golden Equator Consulting <b>Aug-2015 to present</b>
								img(src="/images/company.png")
						.panel-collapse.collapse.in#gec
							ul
								li Designation : Software Engineer
					.panel.panel-default
						.panel-heading
							h4.panel-title
								a(data-toggle="collapse",data-target="#ppp") PPP Laser Clinic
						.panel-collapse.collapse#ppp
							ul
								li Designation : Software Engineer
					.panel.panel-default
						.panel-heading
							h4.panel-title
								a(data-toggle="collapse",data-target="#ana") Anacle Systems Pte Ltd
						.panel-collapse.collapse#ana
							ul
								li Designation : Software Engineer
					.panel.panel-default
						.panel-heading
							h4.panel-title
								a(data-toggle="collapse",data-target="#autodesk") Autodesk
						.panel-collapse.collapse#autodesk
							ul
								li Designation : Software Engineer

	section(id="section4", class="cd-section")
		p
			&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;

	section(id="section5", class="cd-section")
		p
			&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;

	section(id="section6", class="cd-section")
		p
			i(class="fa fa-envelop") leejangkoo@gmail.com
