extends ../../layouts/default

mixin bet(bet)
	.row
		.col-sm-4 bet.firstTeam.name
		.col-sm-4
		.col-sm-4 bet.secondTeam.name

block content
	.container.text-center.top-pad
		h1 Live dota bets
		each bet in data.bets.results
			+bet(bet)