extends ../../layouts/default

mixin bet(bet)
	.row
		.col-sm-4 
			.row #{bet.firstTeam.name}
			.row #{bet.firstTeam.logo}
		.col-sm-4 0 - 0
		.col-sm-4 
			.row #{bet.secondTeam.name}
			.row #{bet.secondTeam.logo}

block content
	.container.text-center.top-pad
		h1 Live dota bets
		each bet in data.bets.results
			+bet(bet)