extends ../../layouts/default

block content
	ul.nav.nav-tabs
		li.active 
			a(href="#america") Americas
		li 
			a(href="#europe") Europe
		li 
			a(href="#sea") SEA
		li 
			a(href="#china") China
