extends ../../layouts/default

block content
	.container.text-center.top-pad
		ul.nav.nav-tabs
			li.active 
				a(data-toggle="tab",href="#americas") Americas
			li 
				a(data-toggle="tab",href="#europe") Europe
			li 
				a(data-toggle="tab",href="#se_asia") SEA
			li 
				a(data-toggle="tab",href="#china") China

		.tab-content
			.tab-pane.fade.in.active#americas
			.tab-pane.fade#europe
			.tab-pane.fade#se_asia
			.tab-pane.fade#china
block js
	script(src='/js/dota/leaderboard.js')
block css
	link(href="/styles/flag-icon.min.css", rel="stylesheet")