.ad
  script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-8010283700967425" data-ad-slot="4338884595" data-ad-format="auto")
  script (adsbygoogle = window.adsbygoogle || []).push({});
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
