//- SITE FOOTER
<div class="row">
	<div class="col-md-4">
		Copyright@Jangkoo 2016.
	</div>
	<div class="col-md-4">
		<div class="social__icons"> <a href="https://twitter.com/leejangkoo" class="socialicon socialicon-twitter"></a> <a href="https://www.facebook.com/leejangkoo.real" class="socialicon socialicon-facebook"></a> <a href="https://plus.google.com/u/0/118059415819688317778" class="socialicon socialicon-google"></a> <a href="mailto:leejangkoo@gmail.com?Subject=Hello%20again" target="_top" class="socialicon socialicon-mail"></a> </div>
	</div>
	<div class="col-md-4">Singapore 2017</div>
</div>
