.ad
	script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	ins.adsbygoogle(style=style="display:block" data-ad-format="fluid" data-ad-layout="text-only"  data-ad-layout-key="-gw-c+2p-30-2w" data-ad-client="ca-pub-8010283700967425"  data-ad-slot="1252033397")
	script (adsbygoogle = window.adsbygoogle || []).push({});

