// Override Bootstrap variables in this file, e.g.
@import url('https://fonts.googleapis.com/css?family=Pacifico');

$pacifico: 'Pacifico', cursive;

$font-size-base: 14px;
$screen-md:                  992px;
$screen-md-min:              $screen-md;
