// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.
@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";
@import "site/session";

// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";
body,html{
	height: 100%;
}
.top-header {
  position: fixed;
  top: 0;
  z-index:99999;
}
#body{
  top:34px;
  position: relative;
  min-height: 100%;
}
.top-pad{
	top:50px;
	position: relative;
}
.navbar {
	margin-bottom:0px;
}
/*Social Icons*/
.socialicon {
	position: relative;
	display: inline-block;
	width: 27px;
	margin-right: 5px;
	height: 27px;
}
.socialicon-twitter {
	background: url('../images/social/twitter.png') no-repeat;
}
.socialicon-facebook {
	background: url('../images/social/facebook.png') no-repeat;
}
.socialicon-google {
	background: url('../images/social/google.png') no-repeat;
}
.socialicon-mail {
	background: url('../images/social/mail.png') no-repeat;
}
.socialicon-twitter:hover {
	background: url('../images/social/twitter_a.png') no-repeat;
}
.socialicon-facebook:hover {
	background: url('../images/social/facebook_a.png') no-repeat;
}
.socialicon-google:hover {
	background: url('../images/social/google_a.png') no-repeat;
}
.socialicon-mail:hover {
	background: url('../images/social/mail_a.png') no-repeat;
}
#order-counts {
  font-size: 30px;
}

.bet-item{
	font-size: 30px;
}
.col-sm-* img{
	max-width: 90%;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  padding:10px;
}
.navbar-brand{
	font-family : $pacifico;
}
.quote{
font-family : $pacifico;	
}
.navbar-right{
	font-size:18px;
}
.carousel-control     		 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -16.7%; }
	.carousel-inner .next        { left:  16.7%; }
	.carousel-inner .prev		 { left: -16.7%; }	
}

.row-fluid{
    white-space: nowrap;
    overflow-x: auto;
	overflow-y: hidden;
}
.row-fluid .col-sm-4{
    display: inline-block;
    float: none;
}
::-webkit-scrollbar {
      width: 15px;
} 
::-webkit-scrollbar-track {
      background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
}
