// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";
@import "site/session";

// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";
.top-header {
  position: fixed;
  top: 0;
  z-index:99999;
}
#body{
  top:34px;
  position: relative;
}
.top-pad{
	top:50px;
	position: relative;
}
.navbar {
	margin-bottom:0px;
}
/*Social Icons*/
.socialicon {
	position: relative;
	display: inline-block;
	width: 27px;
	margin-right: 5px;
	height: 27px;
}
.socialicon-twitter {
	background: url('../images/social/twitter.png') no-repeat;
}
.socialicon-facebook {
	background: url('../images/social/facebook.png') no-repeat;
}
.socialicon-google {
	background: url('../images/social/google.png') no-repeat;
}
.socialicon-mail {
	background: url('../images/social/mail.png') no-repeat;
}
.socialicon-twitter:hover {
	background: url('../images/social/twitter_a.png') no-repeat;
}
.socialicon-facebook:hover {
	background: url('../images/social/facebook_a.png') no-repeat;
}
.socialicon-google:hover {
	background: url('../images/social/google_a.png') no-repeat;
}
.socialicon-mail:hover {
	background: url('../images/social/mail_a.png') no-repeat;
}
.order {
  font-size: 30px;
}